### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# IntelliJ 프로젝트 설정 파일
.idea/
*.iml
out/
gen/

# 빌드 결과물 및 컴파일된 클래스 파일
target/
*.class

# 로그 및 OS 관련 파일
*.log
.DS_Store (Mac용)
Thumbs.db (Windows용)